.cards-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.shop-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 300px;
    box-shadow: 10px 5px 5px rgb(170, 170, 170);
}
  
.shop-card h3 {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}
  
.shop-card p {
    margin: 5px 0;
}
  
.shop-card-image img {
    max-width: 150px;
    height: auto;
}

.shop-card-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: red;
}

.shop-card-price button{
    color: red;
    border-radius: 50px;
    border: 2px solid red;
}